<!doctype html>
<html lang="en">
  <head>
    {% metagen
      title=title or (date + ' awful.amsterdam'),
      name="Atelier Awful",
      description="An awe-inspiring place.",
      img="/favicon.png",
      url=page.url,
      locale='en_NL',
      generator=eleventy.generator
    %}

    <!-- favicon, etc. -->
    <meta name="msapplication-TileColor" content="#12265C">
    <meta name="theme-color" content="#12265C">

    <link rel="stylesheet" href="/css/site.css" />

		{{ headtags | safe }}
  </head>
  <body class="{{ bodyClass }}">
    <div class="main">
      <!--
      <nav id="site-nav">
        <div class="flex container">
      		<div class="col-3 right-3">
            <div class="padded">
              <a href="/"><img class="logo" src="/img/awful-horilogo.svg"></a>
            </div>
          </div>
          <div class="col-6">
            <div class="padded nav">
              <a class="nav-link" href="/events/">Events</a>
              <a class="nav-link" href="/artists/">Artists</a>
              <a class="nav-link" href="/collection/">Collection</a>
            </div>
          </div>
        </div>
      </nav>
      --/>

      {% block content %}
      {{ content | safe }}
      {% endblock %}

      <section id="footer">
        <div class="spacer"></div>
        <div class="flex container">
          <div class="col-12">
            <div class="padded center">
              <p class="footer">&copy; 2023 Atelier Awful</p>
            </div>
          </div>
        </div>
	    </section>
    </div>

    <script>
      var lazyLoadInstance = new LazyLoad({
        elements_selector: "img"
      });
    </script>
  </body>
</html>
