<!doctype html>
<html lang="en">
  <head>
    {% metagen
      title=title or (date + ' awful.amsterdam'),
      name="Atelier Awful",
      description="An awe-inspiring place.",
      img="/favicon.png",
      url=page.url,
      locale='en_NL',
      generator=eleventy.generator
    %}

    <!-- favicon, etc. -->
    <meta name="msapplication-TileColor" content="#000872">
    <meta name="theme-color" content="#000872">

    <link rel="stylesheet" href="/css/site.css" />

		{{ headtags | safe }}
  </head>
  <body class="{{ bodyClass }}">
    <div class="main">
      
      <nav id="site-nav">
        <div class="flex container">
      		<div class="col-6">
            <div class="padded">
              <a class="big-type" style="text-decoration:none;" href="/">Atelier Awful</a>
            </div>
          </div>
          <div class="col-2 nav-grid">
            <div class="padded nav">
              <a class="nav-link" href="#prologue">Prologue</a>
            </div>
          </div>
      		<div class="col-2 nav-grid">
            <div class="padded nav">
              <a class="nav-link" href="#occurances">Occurances</a>
            </div>
          </div>
      		<div class="col-2 nav-grid">
            <div class="padded nav">
              <a class="nav-link" href="#perpetuous">Perpetuous</a>
            </div>
          </div>
        </div>
      </nav>

      {% block content %}
      {{ content | safe }}
      {% endblock %}

      <section id="footer">
        <div class="spacer"></div>
        <div class="flex container">
          <div class="col-12">
            <div class="padded center">
              <p class="footer">&copy; 2022 Atelier Awful</p>
            </div>
          </div>
        </div>
	    </section>
    </div>

    <script>
      var lazyLoadInstance = new LazyLoad({
        elements_selector: "img"
      });
    </script>
  </body>
</html>
