// Awful & Artificial Palette
// July 2023

// Basics
$black: #111126;
$white: #FFFFFF;

// Neutrals
$grey-10: #F2F2F5;
$grey-20: #E6E6E8;
$grey-30: #D4D4D9;
$grey-40: #C1C1C7;
$grey-50: #AAAAB2;
$grey-60: #8F8F9C;
$grey-70: #717182;
$grey-80: #515166;
$grey-90: #2E2E47;

// Daisies
$daisy-10: #FFFED9;
$daisy-30: #FFF780;
$daisy-50: #FAE637;
$daisy-60: #E5C809;
$daisy-70: #B29007;
$daisy-80: #7A5A02;

// Marigolds
$marigold-10: #FFF2DB;
$marigold-30: #FFD494;
$marigold-50: #FAA332;
$marigold-60: #DB811A;
$marigold-70: #A35507;
$marigold-80: #5C2D04;

// Poppies
$poppy-10: #FFE5DB;
$poppy-30: #FAA98C;
$poppy-50: #FA562D;
$poppy-60: #DB381F;
$poppy-70: #AD190E;
$poppy-80: #700404;

// Tulips
$tulip-10: #FFD9F0;
$tulip-30: #FA9BDA;
$tulip-50: #F562D7;
$tulip-60: #DB2CC4;
$tulip-70: #A3149A;
$tulip-80: #6B096B;

// Pansies
$pansy-10: #F2D7FA;
$pansy-30: #D999F0;
$pansy-50: #BB57E5;
$pansy-60: #8A26BD;
$pansy-70: #691599;
$pansy-80: #3D0861;

// Bluebells
$bluebell-10: #DBF1FF;
$bluebell-30: #A0D0FA;
$bluebell-50: #65A1E5;
$bluebell-60: #4179CC;
$bluebell-70: #234994;
$bluebell-80: #12265C;

// Spruces
$spruce-10: #DCFAEC;
$spruce-30: #A2F5D4;
$spruce-50: #75E0BC;
$spruce-60: #32C29C;
$spruce-70: #19806B;
$spruce-80: #0B5248;

// Ferns
$fern-10: #F3FAD7;
$fern-30: #DEF593;
$fern-50: #BEE05E;
$fern-60: #8EC227;
$fern-70: #4D8505;
$fern-80: #275C04;