// Shannon E. Thomas Palette
// November 2022

$apricot:       #FFBBAA;
$apricot-pale:  #FFE8E8;

$white:         #FFFFFF;
$almost-white:  #F8F9FA;
$grey:          #E4E5E6;
$black:         #000014;

// additional color specifications
$overlay-background:  rgba(255, 255, 255, 0.9);