// Shannon E. Thomas
// November 2022

body {
	background-color: $white;
	color: $delft;
}

#site-nav {
	background-color: $delft;
	color: $white;
	a {
		color: $white;
	}
}

.padded.nav {
	padding-top: 22px;
}

a { 
	color: $delft; 
}

figure {
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

figcaption {
	margin-top: 8px;
	margin-bottom: 32px;
}

.caption {
	margin-top: 16px;
}

.svg-white { fill: $white; }
.svg-delft { fill: $delft; }

.tight {
	margin-bottom: 0;
}

.bleed.delft {
	background-color: $delft;
	color: $white;
	a { color: $white; }
}

@media screen and (min-width: 320px) {
	#site-nav {
		position: fixed;
		z-index: 500;
		top: 0;
		width: 100%;
		height: 84px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
	}

	#blogpost {
		position: relative;
		margin-top: 144px;

		p, li { 
			line-height: 1.5em;;
			margin-bottom: 8px;
		}
	}

	.module {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}


@media only screen and (min-device-width: 320px) {
	
	#content {
		position: relative;
		margin-top: 88px;
	}
}

@media screen and (min-width: 720px) {
	#site-nav {
		height: 48px;
		text-align: left;
	}

	#content {
		position: relative;
		margin-top: 54px;
	}

	.module {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media only screen and (min-device-width: 768px) {
	#sub-nav { display: block; }
	
}