// Shannon E. Thomas Typography
// November 2022

// Basics
h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

.title-1, .title-2, .body-2 {
	font-family: "IBM Plex Serif", Georgia, Times, serif;
	font-weight: 400;
} 

.title-3, .title-4, .title-5, .nav-link, .sub-nav-link, .body-1, .call-to-action, .specifications, figcaption, #blogpost h2, .date {
	font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 20px;
}

.date {
	font-size: .8em;
}

// Navigation
.nav-link {
	font-weight: 600;
	font-size: 1.0em;
	text-decoration: none;
}

.sub-nav-link {
	font-weight: normal;
	font-size: 0.8em;
	text-decoration: none;
}

a.call-to-action {
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 12px 24px 12px 24px;
	border-radius: 32px;
	margin-right: 8px;
}

a.call-to-action:hover {

	background-color: #333333;
	color: white;

}

a.inline-link {
	text-decoration: underline;
}

ul, li { 
	list-style-type: none; 
}

blockquote {
	margin-inline-start: 0;
	-webkit-margin-start: 0;
	margin-block-start: 2em;
	margin-block-end: 0;
	p {
		font-size: 1.3em;
	}
}

// for mobile
@media screen and (min-width: 320px) {
	.title-1 {
		font-size: 1.5em;
		line-height: 1.1875em;
		margin-bottom: 16px;
		font-weight: 500;
	}

	.title-2, .thought-content p {
		font-size: 1.25em;
		line-height: 1.3333333em;
		margin-bottom: 8px;
	}

	.title-3, .title-4 {
		font-size: 1.5em;
		line-height: 1.3333333em;
		font-weight: 600;
		margin-bottom: 8px;
	}

	.title-5 {
		font-size: 1.25em;
		line-height: 1.2em;
		font-weight: 600;
		margin-bottom: 8px;
	}

	.body-1 {
		font-size: 1.0em;
		line-height: 1.5em;
		margin-bottom: 16px;
	}
	
	.body-2 {
		font-size: 1.1250em;
		line-height: 1.3333333em;
		margin-bottom: 16px;
	}

	.specifications {
		display: none;
	}
}

// for smaller screens
@media screen and (min-width: 768px) {
	.title-1 {
		font-size: 2.0em;
		line-height: 1.25em;
		margin-bottom: 16px;
	}
	
	.title-2, .thought-content p {
		font-size: 1.5em;
		line-height: 1.3333333em;
		margin-bottom: 8px;
	}
	
	.title-3 {
		font-size: 2.0em;
		line-height: 2.0em;
		margin-bottom: 8px;
		
	}

	.title-4 {
		font-size: 1.5em;
		line-height: 1.3333333em;
		margin-bottom: 8px;
	}

	.specifications {
		font-size: .875em;
		font-weight: 600;
		margin-bottom: 8px;
		text-align: right;
		display: block;
	}
}

// for bigger screens
@media screen and (min-width: 960px) {
}
