// Atelier Awful
// September 2023

@import '_awficial-typography';
@import '_awficial-grid';

body {
	background-color: $white;
	color: $bluebell-80;
}

.title-large {
	@include title-xl;
	font-family: $serif;
	font-weight: $normal;
}

.title-small {
	@include title-m;
	font-family: $sans-serif;
	font-weight: $semibold;
}

.body-large {
	@include body-l;
	font-family: $sans-serif;
	font-weight: $light;
}

.body-medium {
	@include body-m;
	font-family: $sans-serif;
	font-weight: $light;
}

.body-small {
	@include body-s;
	font-family: $serif;
	font-weight: $normal;
}

.date {
	@include body-s;
	font-family: $sans-serif;
	font-weight: $semibold;
}

.heavy {
	font-weight: $semibold;
}

.links {
	@include body-m;
	font-family: $sans-serif;
	font-weight: $semibold;
}

.footer {
	@include body-s;
	font-family: $sans-serif;
	font-weight: $normal;
}

.center {
	text-align: center;
}

#site-nav {
	background-color: $bluebell-70;
	color: $white;
	a {
		color: $white;
	}
}

.padded.nav {
	padding-top: 22px;
	text-align: right;
}

.logo {
	height: 36px;
}

.nav-link {
	@include body-m;
	font-family: $sans-serif;
	font-weight: $light;
	text-decoration: none;
	padding-left: 40px;
}

a { 
	color: $bluebell-80; 
}

figure {
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

figcaption {
	margin-top: 8px;
	margin-bottom: 32px;
}

.extra-bottom {
	padding-bottom: 24px;
}

.caption {
	margin-top: 16px;
}

.callout {
	padding-top: 24px;
	padding-bottom: 8px;
}

.svg-white { fill: $white; }
.svg-delft { fill: $black; }

.tight {
	margin-bottom: 0;
}

.bleed.delft { background-color: $bluebell-70; }
.bleed.delft-dark { background-color: $bluebell-80; }

.bleed.delft, .bleed.delft-dark {
	color: $white;
	a { color: $white; }
}

.homeheader {
	background-image: url("/img/pattern-homeheader.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.aboutsection {
	background-image: url("/img/pattern-aboutsection.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}

@media screen and (min-width: 320px) {
	#site-nav {
		position: fixed;
		z-index: 500;
		top: 0;
		width: 100%;
		height: 84px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
	}
	

	.module {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}


@media only screen and (min-device-width: 320px) {
	
	#content {
		position: relative;
		// margin-top: 88px;
	}
}

@media screen and (min-width: 720px) {
	#site-nav {
		height: 48px;
		text-align: left;
	}

	#content {
		position: relative;
		// margin-top: 54px;
	}

	.module {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media only screen and (min-device-width: 768px) {
	#sub-nav { display: block; }
	
}